<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="execQueryServiceTarget" class="cherry.sqlapp.service.sqltool.exec.ExecQueryServiceImpl" scope="prototype" />
	<bean id="execQueryService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="targetSource">
			<bean class="org.springframework.aop.target.CommonsPoolTargetSource">
				<property name="targetBeanName" value="execQueryServiceTarget" />
				<property name="maxSize" value="10" />
			</bean>
		</property>
	</bean>

</beans>
