<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<jee:jndi-lookup id="dataSource" jndi-name="${sqlapp.jdbc.dataSource}" />

	<bean id="dataSourceDef" class="cherry.sqlapp.service.sqltool.DataSourceDefImpl">
		<property name="defaultName" value="default" />
		<property name="dataSourceMap">
			<map key-type="java.lang.String" value-type="javax.sql.DataSource">
				<entry key="default">
					<jee:jndi-lookup jndi-name="${sqlapp.jdbc.dataSource.default}" />
				</entry>
				<entry key="sqlapp" value-ref="dataSource" />
			</map>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="jtaTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="userTransactionName" value="${sqlapp.jta.userTransaction}" />
		<property name="transactionManagerName" value="${sqlapp.jta.transactionManager}" />
		<property name="transactionSynchronizationRegistryName" value="${sqlapp.jta.transactionSynchronizationRegistry}" />
	</bean>

</beans>
