<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cherry.sqlapp.db.app.mapper.AnyMapper">
	<insert id="create" parameterType="cherry.sqlapp.db.gen.dto.SqlAny">
		INSERT INTO sql_any (
			id,
			query,
			param_map
		)
		VALUES (
			#{id,jdbcType=INTEGER},
			#{query,jdbcType=VARCHAR},
			#{paramMap,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="cherry.sqlapp.db.gen.dto.SqlAny">
		UPDATE sql_any
		SET
			query = #{query,jdbcType=VARCHAR},
			param_map = #{paramMap,jdbcType=VARCHAR},
			updated_at = CURRENT_TIMESTAMP
		WHERE
			id = #{id,jdbcType=INTEGER}
			AND
			deleted_flg = 0
	</update>
</mapper>
